<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df.shape

(11552, 85)

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [15]:
# your code goes here
duplicate_rows = df[df.duplicated()].shape[0]

print("duplicate rows" , duplicate_rows)
duplicate_rows = df[df.duplicated(subset=['Respondent'])].shape[0]

print("duplicate rows in Respondent Column" , duplicate_rows)

duplicate rows 154
duplicate rows in Respondent Column 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [12]:
# your code goes here
df_unique = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [13]:
# your code goes here
df_unique.shape

(11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [21]:
# your code goes here
df_unique[df_unique.isna()]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Find out how many rows are missing in the column 'WorkLoc'

In [16]:
# your code goes here
print("Missing value count in WorkLoc Column", df_unique[df_unique['WorkLoc'].isna()].shape[0])

print("Missing value count in EdLevel Column", df_unique[df_unique['EdLevel'].isna()].shape[0])

print("Missing value count in Country Column", df_unique[df_unique['Country'].isna()].shape[0])

Missing value count in WorkLoc Column 32
Missing value count in EdLevel Column 112
Missing value count in Country Column 0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [34]:
# your code goes here
print("Value count for column WorkLoc is", df_unique[df_unique['WorkLoc'].notnull()].shape[0])

Value count for column WorkLoc is 11366

Identify the value that is most frequent (majority) in the WorkLoc column.

In [28]:
#make a note of the majority value here, for future reference

most_freq_workloc = df_unique['WorkLoc'].mode()
print("Most Freq Workplace", most_freq_workloc)

most_freq_employment = df_unique['Employment'].mode()
print("Most Freq Employment", most_freq_employment)

min_freq_major = df_unique.groupby('UndergradMajor')['UndergradMajor'].count()


print("Min Freq UndergradMajor", min_freq_major)

Most Freq Workplace 0    Office
dtype: object
Most Freq Employment 0    Employed full-time
dtype: object
Min Freq UndergradMajor UndergradMajor
A business discipline (ex. accounting, finance, marketing)                244
A health science (ex. nursing, pharmacy, radiology)                        24
A humanities discipline (ex. literature, history, philosophy)             207
A natural science (ex. biology, chemistry, physics)                       403
A social science (ex. anthropology, psychology, political science)        210
Another engineering discipline (ex. civil, electrical, mechanical)        759
Computer science, computer engineering, or software engineering          6953
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
Information systems, information technology, or system administration     794
Mathematics or statistics                                                 372
Web development or web design                                             410
Name: UndergradMajor, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [58]:
# your code goes here
df_unique.loc[:,['WorkLoc']].fillna(most_freq_workloc, inplace = True)

0        True
1        True
2        True
3        True
4        True
         ...
11547    True
11548    True
11549    True
11550    True
11551    True
Name: WorkLoc, Length: 11398, dtype: bool

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [61]:
print("No. of not null rows are", 11398-df_unique['WorkLoc'].notnull().shape[0])

No. of not null rows are 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [29]:
# your code goes here
print("Unique compensation freq." , df_unique['CompFreq'].unique())

df_unique.groupby('CompFreq')['CompFreq'].count()

Unique compensation freq. ['Yearly' 'Monthly' 'Weekly' nan]

CompFreq
Monthly    4788
Weekly      331
Yearly     6073
Name: CompFreq, dtype: int64

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [31]:
# your code goes here
NormalizedAnnualCompensation = [];

print(df_unique.loc[:, ['CompFreq','CompTotal']])
for i,j in df_unique.iterrows():
    if(j['CompFreq'] == 'Yearly'):
        NormalizedAnnualCompensation.append(df.iloc[i]['CompTotal'])
    elif(j['CompFreq'] == 'Monthly'):
        NormalizedAnnualCompensation.append(df.iloc[i]['CompTotal']*12)
    elif(j['CompFreq'] == 'Weekly'):
        NormalizedAnnualCompensation.append(df.iloc[i]['CompTotal']*52) 
    else:
        NormalizedAnnualCompensation.append(df.iloc[i]['CompTotal'])
        
df_unique['NormalizedAnnualCompensation'] = NormalizedAnnualCompensation

#df_updated = df_unique.loc[:, ['CompFreq','CompTotal', 'NormalizedAnnualCompensation']]
#df_weekly = df_updated[df_updated['CompFreq']=='Weekly']
print("Normalized Annual Compensation Median", df_unique['NormalizedAnnualCompensation'].median())

      CompFreq  CompTotal
0       Yearly    61000.0
1       Yearly   138000.0
2       Yearly    90000.0
3      Monthly    29000.0
4       Yearly    90000.0
...        ...        ...
11547   Yearly   130000.0
11548   Yearly    74400.0
11549   Yearly   105000.0
11550   Yearly    80000.0
11551      NaN        NaN

[11398 rows x 2 columns]
Normalized Annual Compensation Median 100000.0

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).